.action{
	color:#008080;
}
.progress {
  height: 60px;
  
}
.progress-bar {
background: -webkit-linear-gradient(left, #53b947 0%,#53b947 100%); 
opacity: 0.8;

}	
.input-lg{
	height: 60px !important;
}
	.fileUpload {
		  position: relative;
		  overflow: hidden;
		  height: 65px;
		  margin-top: 15px;
		  width: 100% !important;
		}

		.fileUpload input.uploadlogo {
		  position: absolute;
		  top: 0;
		  right: 0;
		  margin: 0;
		  padding: 0;
		  font-size: 20px;
		  cursor: pointer;
		  opacity: 0;
		  filter: alpha(opacity=0);
		  width: 100%;
		  height: 65px;
		}
		.fileUpload {
			  position: relative;
			  overflow: hidden;
			  height: 65px;
			  margin-top: 15px;
			  width: 100% !important;
			}
input[type="text"],
select.form-control {
	border-radius: 5px;
	border-color: #808080;
  /*background: transparent;
  border: none;
  border-color: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;*/
		}

		.firstform{
			margin-top: -20px;
		}

		#modal_covid19_summary {
		  text-align: center;
		  top:1% !important;
		}

		#modal_PWD {
		  text-align: center;
		  top:30% !important;
		  border-color: green;
		}

		input[type="text"]:focus,
		select.form-control:focus {
		  -webkit-box-shadow: none;
		  box-shadow: none;
		}
		</style>
		<style type="text/css">

		.ui-datepicker {
		background-color: #fff;
		    font-size: 160%;
		}

		.ui-datepicker-header {
		background-color: #53b947;
		border-color: #53b947;

		}

		.ui-datepicker-title {
		color: white;
		}

		.ui-widget-content .ui-state-default {
		border: 0px;
		text-align: center;
		background: #fff;
		font-weight: normal;
		color: #53b947;
		}

		.ui-widget-content .ui-state-default:hover {
		border: 0px;
		text-align: center;
		background: #53b947;
		font-weight: normal;
		color: #fff;
		}

		.ui-widget-content .ui-state-active {
		border: 0px;
		background: #53b947;
		color: #fff;
		}
		option:checked {
		  background: red linear-gradient(0deg, red 0%, red 100%);
		}
		.btn-white-residence_province {
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-year {
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-device_access_year {
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-residence_municipality {
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-residence_barangay{
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-mailing_province {
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-mailing_municipality {
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-mailing_barangay{
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-noofunit{			
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-occupation_personal_info{
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-gender{			
			background-color: #ffffff;
			border-color: #808080;
		}
		.btn-white-status_other_personal_info{
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-device_province{
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-device_municipality{
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-device_barangay{
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-gender_other_personal_info{
			background-color: #ffffff;
			border-color: #808080;
		}

		.btn-white-type_of_id_personal_info,
		.btn-white-status_other_personal_info{
			background-color: #ffffff;
			border-color: #808080;
		}
		#desktop{
			min-width: 250px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-right: 15px;
		}
		#btn_pwd_no,
		#btn_pwd_yes{
			min-width: 120px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-right: 15px;
		}

		#btn_no,
		#btn_yes{
			min-width: 90px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-right: 15px;
		}
		#btn_back_to_applicant_occupation,
		#btn_back_to_home,
		#btn_back_to_applicant{
			min-width: 120px;
			min-height: 30px;
			background-color: #53b947;
			color: #ffffff;
			margin-right: 15px;
		}

		

		#laptop{
			min-width: 250px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-right: 15px;
		}
		#desktopprinme{
			min-width: 288px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
		}
		#btnnoofunit{
			min-width: 516px;
			height: 45px;
			background-color: #00BFFF;
			color: #ffffff;
			margin-left: -15px;
		}

		#desktop:hover {
		  background-color: #4CAF50; /* Green */
		  color: white;
		}

		#laptop:hover {
		  background-color: #4CAF50; /* Green */
		  color: white;
		}

		#desktopprinme:hover {
		  background-color: #4CAF50; /* Green */
		  color: white;
		}

		
		#primbasicvaldiv{
			margin-left:-32px;
		}
		.validation_others_pwd_personal_info,
		.validation_beneficiary_personal_info,
		.validation_relationship_personal_info,
		.validation_occupation_other_personal_info,
		.validation_middleName_personal_info,
		.validation_firstName_personal_info,
		.validation_lastName_personal_info,
		.validation_gender_personal_info,
		.validation_contactNo_personal_info,
		.validation_gender_personal_info,
		.validation_occupation_personal_info,
		.validation_dateofBirth_personal_info,	
		.validation_email_personal_info{
			margin-top: 5px ;
		}

		.blue-btn:hover,
		.blue-btn:active,
		.blue-btn:focus,
		.blue-btn {
		  background: transparent;
		  border: solid 1px #27a9e0;
		  border-radius: 3px;
		  color: #27a9e0;
		  font-size: 16px;
		  margin-bottom: 20px;
		  outline: none !important;
		  padding: 10px 20px;
		}

	

		.fileUpload {
		  position: relative;
		  overflow: hidden;
		  height: 46px;
		  margin-top: 15px;
		  width: 100% !important;
		}

		.fileUpload input.uploadlogo {
		  position: absolute;
		  top: 0;
		  right: 0;
		  margin: 0;
		  padding: 0;
		  font-size: 20px;
		  cursor: pointer;
		  opacity: 0;
		  filter: alpha(opacity=0);
		  width: 100%;
		  height: 46px;
		}

		/*Chrome fix*/
		input::-webkit-file-upload-button {
		  cursor: pointer !important;
		  height: 46px;
		  width: 100%;
		}
		
		#upload_label{
			margin-top:-30px !important;
		}

		#upload_file{
			margin-top:-30px !important;
		}

		#f3_summary{
			margin-left: -16px;
		}
		#agent_name_div{
			margin-left: -90px;
			margin-right: 20px;
			margin-top: 25px;
		}

		#agent_name_summary{
			margin-right: 30px !important;
		}

		#f4_summary{
			margin-left: -90px ;
			margin-top: 25px;
		}

		#btnsubmit{
			min-height: 60px;
			min-width: 257px;
		}

		#btnagree{
			min-height: 60px;
			min-width: 200px;
		}

		#addApplicant{
			min-width: 257px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-right: 18px;

		}
	

  }


	@media only screen and (max-width: 800px) {
		.firstform{
			margin-top: 0px;
		}
		.address_mobile{
		  	margin-bottom: 15px !important;
		}
		
		.personal_ifno_mobile{
		  	margin-bottom: 15px !important;
		}

	  	#desktop{
			min-width: 258px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-bottom: 10px;
		}

		#laptop{
			min-width: 258px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-bottom: 10px;
		}
		#desktopprinme{
			min-width: 258px;
			min-height: 60px;
			background-color: #C0C0C0;
			color: #000000;
			margin-bottom: 10px;	
		}

		#btnnoofunit{
				min-width: 258px;
				background-color: #00BFFF;
				color: #ffffff;			
				height: 45px;
				margin-left: -15px;
		}

		#primbasicvaldiv{
				margin-left:-14px;
				margin-top: 15px;
				width: 285px;
		}




		.validation_others_pwd_personal_info_check_error,
		.validation_beneficiary_personal_info_check_error,
		.validation_relationship_personal_info_check_error,
		.validation_occupation_other_personal_info,
		.validation_idno_other_personal_info_check_error,
		.validation_place_of_birth_other_personal_info_check_error,
		.validation_nationality_other_personal_info_check_error,
		.validation_middleName_personal_info_check_error,
		.validation_lastName_personal_info_check_error,
	 	.validation_contactNo_personal_info_check_error,
	 	.validation_dateofBirth_personal_info_check_error,
	 	.validation_gender_personal_info_check_error,
	 	.validation_email_personal_info_check_error,
		.validation_firstName_personal_info_check_error{
			top:-50px !important;
		}
		
		.validation_others_pwd_personal_info_check_success,
		.validation_beneficiary_personal_info_check_success,
		.validation_relationship_personal_info_check_success,
		.validation_idno_other_personal_info_check_success,
		.validation_place_of_birth_other_personal_info_check_success,
		.validation_nationality_other_personal_info_check_success,
		.validation_middleName_personal_info_check_success,
		.validation_lastName_personal_info_check_success,
	    .validation_contactNo_personal_info_check_success,
	    .validation_dateofBirth_personal_info_check_success,
	    .validation_gender_personal_info_check_success,
	    .validation_email_personal_info_check_success,
		.validation_firstName_personal_info_check_success{
			top:-50px !important;
		}

	 	.validation_occupation_personal_info_check_error,
		.validation_occupation_personal_info_check_success {
	       top:-35px !important;
		}

		.validation_dateofBirth_personal_info{
			margin-top: -12px !important;
			margin-bottom: 10px !important;
		}

		.validation_others_pwd_personal_info,
		.validation_idno_other_personal_info,
		.validation_place_of_birth_other_personal_info,
		.validation_nationality_other_personal_info,
		.validation_email_personal_info,
		.validation_contactNo_personal_info,
		.validation_lastName_personal_info,
		.validation_middleName_personal_info,
		.validation_firstName_personal_info{
			margin-top: -12px !important;
			margin-bottom: 10px !important;
		}

		.validation_status_other_personal_info{
			margin-bottom: 10px !important;
		}

		.fileUpload {
			  position: relative;
			  overflow: hidden;
			  height: 46px;
			  margin-top: 15px;
			  width: 100% !important;
			}
		#agent_name_div{
			margin-left: -10px  !important;
			margin-right: 20px;
			margin-top: 25px;
		}

		#f4_summary{
			margin-left: -10px !important;
			margin-top: 25px;
		}

		#CheckCoverage{
			margin-top: 20px !important;
		}

		#addApplicant{
				margin-bottom: 10px;

			}
		#btnsubmit{
			min-height: 60px;
			min-width: 257px;
		}

			
	}

				
					/* end only demo styles */

					.checkbox-custom, .radio-custom {
					    opacity: 0;
					    position: absolute;   
					}

					.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
					    display: inline-block;
					    vertical-align: middle;
					    margin: 5px;
					    cursor: pointer;
					}

					.checkbox-custom-label, .radio-custom-label {
					    position: relative;
					}

					.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
					    content: '';
					    background: #fff;
					    border: 2px solid #53b947;
					    display: inline-block;
					    vertical-align: middle;
					    width: 20px;
					    height: 20px;
					    padding: 2px;
					    margin-right: 10px;
					    text-align: center;
					}

					.checkbox-custom:checked + .checkbox-custom-label:before {
					    background: #53b947;
					    box-shadow: inset 0px 0px 0px 4px #fff;
					}

					.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
					  outline: 1px solid #ddd; /* focus style */
					}

.BlockUIConfirm {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          height: 100vh;
          width: 100vw;
          z-index: 50;
        }

        .BlockUIConfirm2 {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          height: 100vh;
          width: 100vw;
          z-index: 50;
        }

        .BlockCantFintCar {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          height: 100vh;
          width: 100vw;
          z-index: 50;
        }

        .blockui-mask {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #333;
          opacity: 0.8;
        }

        .RowDialogBody {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          max-width: 600px;
          opacity: 1;
          background-color: white;
          border-radius: 4px;
        }

        .RowDialogBody > div:not(.confirm-body) {
          padding: 8px 10px;
        }

        .confirm-header {
          width: 100%;
          border-radius: 4px 4px 0 0;
          font-size: 13pt;
          font-weight: bold;
          margin: 0;
        }

        .row-dialog-hdr-success {
          border-top: 4px solid #5cb85c;
          border-bottom: 1px solid transparent;
        }

        .row-dialog-hdr-info {
          border-top: 4px solid #5bc0de;
          border-bottom: 1px solid transparent;
        }

        .confirm-body {
          border-top: 1px solid #ccc;
          padding:20px 10px;
          border-bottom: 1px solid #ccc;
        }

        .confirm-btn-panel {
          width: 100%;
        }
        .row-dialog-btn {
          cursor: pointer;
        }

        .btn-naked {
          background-color: transparent;
        }

        .linkbutton {
	  background: none!important;
	  border: none;
	  padding: 0!important;
	  /*optional*/
	  font-family: arial, sans-serif;
	  /*input has OS specific font-family*/
	  color: #069;
	  text-decoration: underline;
	  cursor: pointer;
	  float: left;
	}

table{
  width: 100%;
  text-align:center;
  padding:10px;
}
tr{
  /*border: 1px solid #E0607E;*/
}
th{
  border-left: 5px solid #ffffff;
  padding: 10px 30px;
  background-color: #008080;
  color: #FFF; 
  border-radius: 10px;
  height: 65px;
}

td{
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
}

input[type=checkbox] + label {
                                display: block;
                                margin: 0.2em;
                                cursor: pointer;
                                padding: 0.2em;                               
                              }
                              input[type=checkbox] {
                                display: none;
                              }

                              input[type=checkbox] + label:before {
                                content: "\2714";
                                border: 0.1em solid #808080;
                                border-radius: 0.2em;
                                display: inline-block;
                                width: 1.5em;
                                height: 1.5em;
                                padding-left: 0.2em;
                                padding-bottom: 0.3em;
                                margin-right: 0.2em;
                                vertical-align: bottom;
                                color: transparent;
                                transition: .2s;
                              }

                              input[type=checkbox] + label:active:before {
                                transform: scale(0);
                              }

                              input[type=checkbox]:checked + label:before {
                                background-color: MediumSeaGreen;
                                border-color: MediumSeaGreen;
                                color: #fff;
                              }

                              input[type=checkbox]:disabled + label:before {
                                transform: scale(1);
                                border-color: #aaa;
                              }

                              input[type=checkbox]:checked:disabled + label:before {
                                transform: scale(1);
                                background-color: #bfb;
                                border-color: #bfb;
                              }