@font-face {
    font-family: "MuliSemiBold";
    src: url("Muli-SemiBold.eot");
    src: url("Muli-SemiBold.eot?#iefix") format("embedded-opentype"), url("Muli-SemiBold.woff2") format("woff2"), url("Muli-SemiBold.woff") format("woff"), url("Muli-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muli";
    src: url("Muli.eot");
    src: url("Muli.eot?#iefix") format("embedded-opentype"), url("Muli.woff2") format("woff2"), url("Muli.woff") format("woff"), url("Muli.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MuliBold";
    src: url("Muli-Bold.eot");
    src: url("Muli-Bold.eot?#iefix") format("embedded-opentype"), url("Muli-Bold.woff2") format("woff2"), url("Muli-Bold.woff") format("woff"), url("Muli-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MuliLight";
    src: url("Muli-Light.eot");
    src: url("Muli-Light.eot?#iefix") format("embedded-opentype"), url("Muli-Light.woff2") format("woff2"), url("Muli-Light.woff") format("woff"), url("Muli-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
