@font-face {
    font-family: 'MontserratMedium';
    src: url('montserrat-medium-webfont.woff2') format('woff2'),
         url('montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}