form#form5 {
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important;
    width: 100%;
}

.f5-main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.f5-main-content-container {
    width: 100%;
    max-width: 784px;
    height: auto;
    padding: 35px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: -275px;
    margin-right: 442px;
}

/* .f5-title-container {
    display: inline-flex;
    padding: 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    border-radius: 8px;
    background: var(--Surfaces-LVL-0, #fff);
    width: 780px;
    margin-top: -274px;
} */

.f5-subtitle-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.f5-payment-method {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.f5-payment-fields {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

.f5-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.f5-form-contents {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

select:disabled {
    background-color: #f8f9fa;
    cursor: not-allowed;
    opacity: 0.7;
}

.f5-pill-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 199px !important
}


.option-logo{
    height: 26px !important;
}

#backtoForm4FromForm5{
    display: none !important;
}

@media (max-width: 1280px) {

    #backtoForm4FromForm5{
        display: inline-block !important;
    }

    .f5-main-content-container{
        margin: 0 !important;
        padding: 20px !important;
    }

    .f5-main-content-container .back-button-title {
        color: var(--Primary-Black, #2d2727);
        font-family: Inter, sans-serif;
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: normal !important;
    }

    .f5-main-container {
        flex-direction: column;
        margin: 0 !important;
        padding: 0 !important;
        gap: 0 !important;
        width: 100%;
    }

    .f5-title-container {
        width: 100%;
        padding: 20px;
        gap: 20px;
    }

    .f5-subtitle-container {
        gap: 20px;
    }

    .f5-payment-fields {
        flex-direction: column;
        gap: 15px;
    }

    .f5-buttons-container {
        gap: 15px;
        flex-direction: column;
    }

    .f5-pill-buttons .pill-buttons-container {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
}


html, body {
    overflow-x: hidden; 
    width: 100%;
    box-sizing: border-box; 
}