.stepper-container {
    width: 255px;
    min-height: auto;
    background-color: #008080;
    display: flex;
    padding: 35px 35px 417px 35px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    gap: 97px;
    height: 100vh;
    max-height: 100vh;
}

.main-content {
    margin-left: 255px;
    padding: 20px;
    width: calc(100% - 255px);
    box-sizing: border-box;
}

.stepper-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 61px;
    margin: 0;
}

.stepper-logo-container img {
    height: 61px;
    width: 185px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.steps-wrapper {
    display: flex;
    flex-direction: column;
    width: 185px;
    gap: 30px;
    position: relative;
}

.step {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    position: relative;
}

.step-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32px;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d7dee3;
    background: #d7dee3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.step.completed .circle {
    background-color: #fff;
    border-color: #fff;
}

.step-number {
    font-size: 14px;
    font-weight: 700;
    color: #848a90;
    line-height: 24px;
    font-family: Inter;
}

.line {
    position: absolute;
    top: 32px;
    left: 50%;
    width: 1px;
    height: 150%;
    background-color: #d7dee3;
    z-index: 0;
}

.line.active {
    background-color: #fff;
}

.step-right {
    flex-grow: 1;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    color: #d7dee3;
    font-family: Inter;
    text-align: left;
}

.step.completed .step-right {
    color: #fff;
}

.step:not(:last-child) .line {
    display: block;
}

.step:last-child .line {
    display: none;
}

.hamburger-menu-container {
    display: none; /* Hide by default */
}

.stepper-logo-container-mobile {
    display: none; /* Ensure it's hidden on desktop */
}

.stepper-logo-container-mobile {
    padding: 10px;
}
/* @media (max-width: 1600px) and (max-height: 789px) {
    .sticky-stepper-wrapper {
        height: 105vh;
        max-height: 100%;
    }
} */

@media (max-width: 1280px) {
    .sticky-stepper-wrapper {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1001;
        background: white;
    }

    .stepper-logo-container-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 29px;
        width: 100%;
        height: 60px;
        background: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .stepper-container {
        width: 100%;
        height: 87px;
        background: #008080;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stepper-container {
        z-index: 1000;
        position: relative;
    }

    .stepper-logo-container-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 29px;
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0;
        background: white;
        z-index: 1001;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .stepper-container {
        width: 100%;
        height: 87px;
        position: sticky;
        top: 60px;
        background: #008080;
        z-index: 1000;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        padding-top: 147px;
    }

    .steps-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .back-button {
        display: none;
    }

    .back-button-title {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
        width: 88px;
        height: auto;
        gap: 11px;
    }

    .step-left {
        flex-direction: column;
        width: auto;
    }

    .circle {
        width: 30px;
        height: 30px;
    }

    .line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 275%;
        height: 1px;
        background-color: #d7dee3;
        z-index: 0;
    }

    .step-right {
        font-size: 10px;
        margin-top: 5px;
        justify-content: center;
        text-align: center;
    }

    .hamburger-menu-container {
        display: flex;
        position: absolute;
        left: 9px;
        top: 3px;
        width: 79px;
        height: 60px;
        padding: 25px 15px 25px 15px;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }

    .hamburger-icon-container {
        display: flex;
        height: 34px !important;
        height: 34px !important;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .hamburger-icon {
        width: 21px !important;
        height: auto !important;
        flex-shrink: 0;
    }

    .stepper-logo {
        width: 158px;
        height: 44px;
    }

    .stepper-logo-container-mobile img {
        width: 158px;
        height: 44px;
    }

    .stepper-logo-container img {
        display: none;
    }
}
