/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-teal: #008080;
  --primary-bright-teal: #0cc8c8;
  --primary-black: #2d2727;
  --primary-black-text: #303030;
  --primary-light-black-text: #3b3939;
  --primary-caption-black-text: #585858;
  --primary-white: #ffffff;
  --primary-pink: #e4509a;
  --primary-light-pink: #fb9fcd;
  --primary-pink-disabled: #edcadc;
  --secondary-green: #54b947;
  --secondary-light-green: #d0fccb;
  --secondary-deep-green: #a9d3a4;
  --secondary-aqua-blue: #1b96db;
  --secondary-light-aqua: #9bd4f4;
  --secondary-deep-light-aqua: #8dbbd4;
  --secondary-blue: #003592;
  --secondary-baby-blue: #8db4f9;
  --secondary-light-baby-blue: #cee0ff;
  --status-danger: #dd0707;
  --status-salmon: #ffafaf;
  --status-light-red: #ffe2e2;
  --status-highlight-red: #fff7f7;
  --status-yellow: #f5bc16;
  --status-mellow-yellow: #f5d373;
  --status-light-yellow: #fff4da;
  --status-subdued-yellow: #fff9ec;
  --status-successful: #09a12a;
  --status-success-light: #e1f4e5;
  --surfaces-lvl-0: #f7fcff;
  --surfaces-lvl-1: #f2f2f2;
  --surfaces-lvl-2: #eff2f4;
  --surfaces-lvl-3: #d7dee3;
  --surfaces-lvl-4: #bbc1c7;
  --surfaces-lvl-5: #848a90;
  --surfaces-lvl-6: #6a6f74;
  --surfaces-lvl-7: #505558;
  --surfaces-lvl-8: #373a3d;
  --surfaces-lvl-9: #1e1f21;
  --surfaces-lvl-10: #050505;
  --surfaces-disabled: #f5f5f5;
  --surfaces-card-selected: #fbfafa;
  --surfaces-notes: #dbeef8;
  --teal-lvl-0: #f7ffff;
  --teal-lvl-1: #f0ffff;
  --teal-lvl-2: #e0f5f5;
  --teal-lvl-3: #c0e6e6;
  --teal-lvl-4: #a8d9d9;
  --teal-lvl-5: #90cccc;
  --teal-lvl-6: #60b3b3;
  --teal-lvl-7: #309999;
  --teal-lvl-8: #008080;
  --teal-lvl-9: #006666;
  --teal-lvl-10: #004d4d;
  --teal-lvl-11: #003e3e;
  --teal-lvl-12: #003333;

  /* Fonts */
  --web-black-header-1-font-family: Inter-Black, sans-serif;
  --web-black-header-1-font-size: 80px;
  --web-black-header-1-line-height: normal;
  --web-black-header-1-font-weight: 900;
  --web-black-header-1-font-style: normal;
  --web-black-header-2-font-family: Inter-Black, sans-serif;
  --web-black-header-2-font-size: 60px;
  --web-black-header-2-line-height: normal;
  --web-black-header-2-font-weight: 900;
  --web-black-header-2-font-style: normal;
  --web-black-header-3-font-family: Inter-Black, sans-serif;
  --web-black-header-3-font-size: 40px;
  --web-black-header-3-line-height: normal;
  --web-black-header-3-font-weight: 900;
  --web-black-header-3-font-style: normal;
  --web-black-header-4-font-family: Inter-Black, sans-serif;
  --web-black-header-4-font-size: 30px;
  --web-black-header-4-line-height: normal;
  --web-black-header-4-font-weight: 900;
  --web-black-header-4-font-style: normal;
  --web-black-header-6-font-family: Inter-Black, sans-serif;
  --web-black-header-6-font-size: 27px;
  --web-black-header-6-line-height: normal;
  --web-black-header-6-font-weight: 900;
  --web-black-header-6-font-style: normal;
  --web-black-header-5-font-family: Inter-Black, sans-serif;
  --web-black-header-5-font-size: 23px;
  --web-black-header-5-line-height: normal;
  --web-black-header-5-font-weight: 900;
  --web-black-header-5-font-style: normal;
  --web-black-body-font-family: Inter-Black, sans-serif;
  --web-black-body-font-size: 16px;
  --web-black-body-line-height: 24px;
  --web-black-body-font-weight: 900;
  --web-black-body-font-style: normal;
  --web-black-caption-font-family: Inter-Black, sans-serif;
  --web-black-caption-font-size: 14px;
  --web-black-caption-line-height: 24px;
  --web-black-caption-font-weight: 900;
  --web-black-caption-font-style: normal;
  --web-black-tiny-font-family: Inter-Black, sans-serif;
  --web-black-tiny-font-size: 12px;
  --web-black-tiny-line-height: normal;
  --web-black-tiny-font-weight: 900;
  --web-black-tiny-font-style: normal;
  --web-black-footnote-font-family: Inter-Black, sans-serif;
  --web-black-footnote-font-size: 10px;
  --web-black-footnote-line-height: normal;
  --web-black-footnote-font-weight: 900;
  --web-black-footnote-font-style: normal;
  --web-black-micro-font-family: Inter-Black, sans-serif;
  --web-black-micro-font-size: 8px;
  --web-black-micro-line-height: normal;
  --web-black-micro-font-weight: 900;
  --web-black-micro-font-style: normal;
  --web-regular-header-1-font-family: Inter-Regular, sans-serif;
  --web-regular-header-1-font-size: 80px;
  --web-regular-header-1-line-height: normal;
  --web-regular-header-1-font-weight: 400;
  --web-regular-header-1-font-style: normal;
  --web-regular-header-2-font-family: Inter-Regular, sans-serif;
  --web-regular-header-2-font-size: 60px;
  --web-regular-header-2-line-height: normal;
  --web-regular-header-2-font-weight: 400;
  --web-regular-header-2-font-style: normal;
  --web-regular-header-3-font-family: Inter-Regular, sans-serif;
  --web-regular-header-3-font-size: 60px;
  --web-regular-header-3-line-height: normal;
  --web-regular-header-3-font-weight: 400;
  --web-regular-header-3-font-style: normal;
  --web-regular-header-4-font-family: Inter-Regular, sans-serif;
  --web-regular-header-4-font-size: 30px;
  --web-regular-header-4-line-height: normal;
  --web-regular-header-4-font-weight: 400;
  --web-regular-header-4-font-style: normal;
  --web-regular-header-6-font-family: Inter-Regular, sans-serif;
  --web-regular-header-6-font-size: 27px;
  --web-regular-header-6-line-height: normal;
  --web-regular-header-6-font-weight: 400;
  --web-regular-header-6-font-style: normal;
  --web-regular-header-5-font-family: Inter-Regular, sans-serif;
  --web-regular-header-5-font-size: 23px;
  --web-regular-header-5-line-height: normal;
  --web-regular-header-5-font-weight: 400;
  --web-regular-header-5-font-style: normal;
  --web-regular-body-font-family: Inter-Regular, sans-serif;
  --web-regular-body-font-size: 16px;
  --web-regular-body-line-height: 24px;
  --web-regular-body-font-weight: 400;
  --web-regular-body-font-style: normal;
  --web-regular-caption-font-family: Inter-Regular, sans-serif;
  --web-regular-caption-font-size: 14px;
  --web-regular-caption-line-height: 24px;
  --web-regular-caption-font-weight: 400;
  --web-regular-caption-font-style: normal;
  --web-regular-tiny-font-family: Inter-Regular, sans-serif;
  --web-regular-tiny-font-size: 12px;
  --web-regular-tiny-line-height: 20px;
  --web-regular-tiny-font-weight: 400;
  --web-regular-tiny-font-style: normal;
  --web-regular-footnote-font-family: Inter-Regular, sans-serif;
  --web-regular-footnote-font-size: 10px;
  --web-regular-footnote-line-height: normal;
  --web-regular-footnote-font-weight: 400;
  --web-regular-footnote-font-style: normal;
  --web-bold-header-1-font-family: Inter-Bold, sans-serif;
  --web-bold-header-1-font-size: 80px;
  --web-bold-header-1-line-height: normal;
  --web-bold-header-1-font-weight: 700;
  --web-bold-header-1-font-style: normal;
  --web-bold-header-2-font-family: Inter-Bold, sans-serif;
  --web-bold-header-2-font-size: 60px;
  --web-bold-header-2-line-height: normal;
  --web-bold-header-2-font-weight: 700;
  --web-bold-header-2-font-style: normal;
  --web-bold-header-3-font-family: Inter-Bold, sans-serif;
  --web-bold-header-3-font-size: 40px;
  --web-bold-header-3-line-height: normal;
  --web-bold-header-3-font-weight: 700;
  --web-bold-header-3-font-style: normal;
  --web-bold-header-4-font-family: Inter-Bold, sans-serif;
  --web-bold-header-4-font-size: 30px;
  --web-bold-header-4-line-height: normal;
  --web-bold-header-4-font-weight: 700;
  --web-bold-header-4-font-style: normal;
  --web-bold-header-6-font-family: Inter-Bold, sans-serif;
  --web-bold-header-6-font-size: 27px;
  --web-bold-header-6-line-height: normal;
  --web-bold-header-6-font-weight: 700;
  --web-bold-header-6-font-style: normal;
  --web-bold-header-5-font-family: Inter-Bold, sans-serif;
  --web-bold-header-5-font-size: 23px;
  --web-bold-header-5-line-height: normal;
  --web-bold-header-5-font-weight: 700;
  --web-bold-header-5-font-style: normal;
  --web-bold-body-font-family: Inter-Bold, sans-serif;
  --web-bold-body-font-size: 16px;
  --web-bold-body-line-height: 24px;
  --web-bold-body-font-weight: 700;
  --web-bold-body-font-style: normal;
  --web-bold-caption-font-family: Inter-Bold, sans-serif;
  --web-bold-caption-font-size: 14px;
  --web-bold-caption-line-height: 24px;
  --web-bold-caption-font-weight: 700;
  --web-bold-caption-font-style: normal;
  --web-bold-tiny-font-family: Inter-Bold, sans-serif;
  --web-bold-tiny-font-size: 12px;
  --web-bold-tiny-line-height: normal;
  --web-bold-tiny-font-weight: 700;
  --web-bold-tiny-font-style: normal;
  --web-bold-footnote-font-family: Inter-Bold, sans-serif;
  --web-bold-footnote-font-size: 10px;
  --web-bold-footnote-line-height: normal;
  --web-bold-footnote-font-weight: 700;
  --web-bold-footnote-font-style: normal;
  --web-medium-header-1-font-family: Inter-Medium, sans-serif;
  --web-medium-header-1-font-size: 80px;
  --web-medium-header-1-line-height: normal;
  --web-medium-header-1-font-weight: 500;
  --web-medium-header-1-font-style: normal;
  --web-medium-header-2-font-family: Inter-Medium, sans-serif;
  --web-medium-header-2-font-size: 60px;
  --web-medium-header-2-line-height: normal;
  --web-medium-header-2-font-weight: 500;
  --web-medium-header-2-font-style: normal;
  --web-medium-header-3-font-family: Inter-Medium, sans-serif;
  --web-medium-header-3-font-size: 40px;
  --web-medium-header-3-line-height: normal;
  --web-medium-header-3-font-weight: 500;
  --web-medium-header-3-font-style: normal;
  --web-medium-header-4-font-family: Inter-Medium, sans-serif;
  --web-medium-header-4-font-size: 30px;
  --web-medium-header-4-line-height: normal;
  --web-medium-header-4-font-weight: 500;
  --web-medium-header-4-font-style: normal;
  --web-medium-header-6-font-family: Inter-Regular, sans-serif;
  --web-medium-header-6-font-size: 27px;
  --web-medium-header-6-line-height: normal;
  --web-medium-header-6-font-weight: 400;
  --web-medium-header-6-font-style: normal;
  --web-medium-header-5-font-family: Inter-Medium, sans-serif;
  --web-medium-header-5-font-size: 23px;
  --web-medium-header-5-line-height: normal;
  --web-medium-header-5-font-weight: 500;
  --web-medium-header-5-font-style: normal;
  --web-medium-body-font-family: Inter-Medium, sans-serif;
  --web-medium-body-font-size: 16px;
  --web-medium-body-line-height: 24px;
  --web-medium-body-font-weight: 500;
  --web-medium-body-font-style: normal;
  --web-medium-caption-font-family: Inter-Medium, sans-serif;
  --web-medium-caption-font-size: 14px;
  --web-medium-caption-line-height: 24px;
  --web-medium-caption-font-weight: 500;
  --web-medium-caption-font-style: normal;
  --web-medium-tiny-font-family: Inter-Medium, sans-serif;
  --web-medium-tiny-font-size: 12px;
  --web-medium-tiny-line-height: 20px;
  --web-medium-tiny-font-weight: 500;
  --web-medium-tiny-font-style: normal;
  --web-medium-footnote-font-family: Inter-Medium, sans-serif;
  --web-medium-footnote-font-size: 10px;
  --web-medium-footnote-line-height: normal;
  --web-medium-footnote-font-weight: 500;
  --web-medium-footnote-font-style: normal;
  --web-light-header-1-font-family: Inter-Light, sans-serif;
  --web-light-header-1-font-size: 80px;
  --web-light-header-1-line-height: normal;
  --web-light-header-1-font-weight: 300;
  --web-light-header-1-font-style: normal;
  --web-light-header-2-font-family: Inter-Light, sans-serif;
  --web-light-header-2-font-size: 60px;
  --web-light-header-2-line-height: normal;
  --web-light-header-2-font-weight: 300;
  --web-light-header-2-font-style: normal;
  --web-light-header-3-font-family: Inter-Light, sans-serif;
  --web-light-header-3-font-size: 40px;
  --web-light-header-3-line-height: normal;
  --web-light-header-3-font-weight: 300;
  --web-light-header-3-font-style: normal;
  --web-light-header-4-font-family: Inter-Light, sans-serif;
  --web-light-header-4-font-size: 30px;
  --web-light-header-4-line-height: normal;
  --web-light-header-4-font-weight: 300;
  --web-light-header-4-font-style: normal;
  --web-light-header-6-font-family: Inter-Regular, sans-serif;
  --web-light-header-6-font-size: 27px;
  --web-light-header-6-line-height: normal;
  --web-light-header-6-font-weight: 400;
  --web-light-header-6-font-style: normal;
  --web-light-header-5-font-family: Inter-Light, sans-serif;
  --web-light-header-5-font-size: 23px;
  --web-light-header-5-line-height: normal;
  --web-light-header-5-font-weight: 300;
  --web-light-header-5-font-style: normal;
  --web-light-body-font-family: Inter-Light, sans-serif;
  --web-light-body-font-size: 16px;
  --web-light-body-line-height: 24px;
  --web-light-body-font-weight: 300;
  --web-light-body-font-style: normal;
  --web-light-caption-font-family: Inter-Light, sans-serif;
  --web-light-caption-font-size: 14px;
  --web-light-caption-line-height: 24px;
  --web-light-caption-font-weight: 300;
  --web-light-caption-font-style: normal;
  --web-light-tiny-font-family: Inter-Light, sans-serif;
  --web-light-tiny-font-size: 12px;
  --web-light-tiny-line-height: 20px;
  --web-light-tiny-font-weight: 300;
  --web-light-tiny-font-style: normal;
  --web-light-footnote-font-family: Inter-Light, sans-serif;
  --web-light-footnote-font-size: 10px;
  --web-light-footnote-line-height: normal;
  --web-light-footnote-font-weight: 300;
  --web-light-footnote-font-style: normal;
  --mobile-bold-large-header-1-font-family: Inter-Bold, sans-serif;
  --mobile-bold-large-header-1-font-size: 92px;
  --mobile-bold-large-header-1-line-height: normal;
  --mobile-bold-large-header-1-font-weight: 700;
  --mobile-bold-large-header-1-font-style: normal;
  --mobile-bold-large-header-2-font-family: Inter-Bold, sans-serif;
  --mobile-bold-large-header-2-font-size: 70px;
  --mobile-bold-large-header-2-line-height: normal;
  --mobile-bold-large-header-2-font-weight: 700;
  --mobile-bold-large-header-2-font-style: normal;
  --mobile-bold-large-header-3-font-family: Inter-Bold, sans-serif;
  --mobile-bold-large-header-3-font-size: 54px;
  --mobile-bold-large-header-3-line-height: normal;
  --mobile-bold-large-header-3-font-weight: 700;
  --mobile-bold-large-header-3-font-style: normal;
  --mobile-bold-large-header-4-font-family: Inter-Bold, sans-serif;
  --mobile-bold-large-header-4-font-size: 41px;
  --mobile-bold-large-header-4-line-height: normal;
  --mobile-bold-large-header-4-font-weight: 700;
  --mobile-bold-large-header-4-font-style: normal;
  --mobile-bold-large-header-5-font-family: Inter-Bold, sans-serif;
  --mobile-bold-large-header-5-font-size: 31px;
  --mobile-bold-large-header-5-line-height: normal;
  --mobile-bold-large-header-5-font-weight: 700;
  --mobile-bold-large-header-5-font-style: normal;
  --mobile-bold-large-header-6-font-family: Inter-Bold, sans-serif;
  --mobile-bold-large-header-6-font-size: 24px;
  --mobile-bold-large-header-6-line-height: normal;
  --mobile-bold-large-header-6-font-weight: 700;
  --mobile-bold-large-header-6-font-style: normal;
  --mobile-medium-medium-1-font-family: Inter-Medium, sans-serif;
  --mobile-medium-medium-1-font-size: 31px;
  --mobile-medium-medium-1-line-height: normal;
  --mobile-medium-medium-1-font-weight: 500;
  --mobile-medium-medium-1-font-style: normal;
  --mobile-medium-medium-2-font-family: Inter-Medium, sans-serif;
  --mobile-medium-medium-2-font-size: 24px;
  --mobile-medium-medium-2-line-height: normal;
  --mobile-medium-medium-2-font-weight: 500;
  --mobile-medium-medium-2-font-style: normal;
  --mobile-medium-medium-3-font-family: Inter-Medium, sans-serif;
  --mobile-medium-medium-3-font-size: 18px;
  --mobile-medium-medium-3-line-height: normal;
  --mobile-medium-medium-3-font-weight: 500;
  --mobile-medium-medium-3-font-style: normal;
  --mobile-medium-body-font-family: Inter-Medium, sans-serif;
  --mobile-medium-body-font-size: 16px;
  --mobile-medium-body-line-height: normal;
  --mobile-medium-body-font-weight: 500;
  --mobile-medium-body-font-style: normal;
  --mobile-medium-caption-font-family: Inter-Medium, sans-serif;
  --mobile-medium-caption-font-size: 14px;
  --mobile-medium-caption-line-height: normal;
  --mobile-medium-caption-font-weight: 500;
  --mobile-medium-caption-font-style: normal;
  --mobile-medium-footnote-font-family: Inter-Medium, sans-serif;
  --mobile-medium-footnote-font-size: 12px;
  --mobile-medium-footnote-line-height: normal;
  --mobile-medium-footnote-font-weight: 500;
  --mobile-medium-footnote-font-style: normal;
  --mobile-regular-header-1-font-family: Inter-Regular, sans-serif;
  --mobile-regular-header-1-font-size: 27px;
  --mobile-regular-header-1-line-height: normal;
  --mobile-regular-header-1-font-weight: 400;
  --mobile-regular-header-1-font-style: normal;
  --mobile-regular-header-2-font-family: Inter-Regular, sans-serif;
  --mobile-regular-header-2-font-size: 21px;
  --mobile-regular-header-2-line-height: normal;
  --mobile-regular-header-2-font-weight: 400;
  --mobile-regular-header-2-font-style: normal;
  --mobile-regular-body-font-family: Inter-Regular, sans-serif;
  --mobile-regular-body-font-size: 16px;
  --mobile-regular-body-line-height: normal;
  --mobile-regular-body-font-weight: 400;
  --mobile-regular-body-font-style: normal;
  --mobile-regular-caption-font-family: Inter-Regular, sans-serif;
  --mobile-regular-caption-font-size: 14px;
  --mobile-regular-caption-line-height: normal;
  --mobile-regular-caption-font-weight: 400;
  --mobile-regular-caption-font-style: normal;
  --mobile-regular-footnote-font-family: Inter-Regular, sans-serif;
  --mobile-regular-footnote-font-size: 12px;
  --mobile-regular-footnote-line-height: normal;
  --mobile-regular-footnote-font-weight: 400;
  --mobile-regular-footnote-font-style: normal;

  /* Effects */
  --cards-box-shadow: 4px 2px 10px 0px rgba(230, 230, 230, 0.5);
}
