.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill='%232E2E2ECC' d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z'/%3E%3C/svg%3E") !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill='%232E2E2ECC' d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z'/%3E%3C/svg%3E") !important;
    transform: rotate(180deg) !important;
}

.swiper-button-prev,
.swiper-rtl {
    left: var(--swiper-navigation-sides-offset, 250px) !important;
}

.swiper-button-prev,
.swiper-button-next {
    top: var(--swiper-navigation-top-offset, 34%) !important;
}
