@font-face {
    font-family: 'hk_novamedium';
    src: url('hknova-medium-webfont.woff2') format('woff2'),
         url('hknova-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}